@import 'variables.scss';

// Loop que que gera as classes de cores baseado na paleta de cores
/* ==== COLOR ===== */

@each $name, $value in $color-palette {

    /*---#{$name}---*/
    .background-color--#{$name},.hover-background-color--#{$name}:hover{
        background-color: $value
    }
    .color--#{$name},.hover-color--#{$name}:hover{
        color: $value
    }
    .border-color--#{$name},.hover-border-color--#{$name}:hover{
        border-color: $value
    }
}

@each $name, $value in $color-palette {

    /*---#{$name}---*/
    .fill--#{$name},.hover-fill--#{$name}:hover{
        fill: $value
    }
}

//opacity
@each $name, $value in $opacity-size {
    .opacity--#{$name}{
        -moz-opacity:  $value;
        -khtml-opacity: $value;
        opacity: $value
    }
}